@*model WebApplicationOneToMany.Models.Author*@
@model WebApplicationOneToMany.Models.ViewModels.AuthorBooks

@{
    ViewData["Title"] = "Books";
}

<h1>Books</h1>

<div>
    <h4>Author</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Author.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Author.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Author.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

  <h4>Books by this author</h4>
  <table>
    @foreach (var item in Model.Books)
    {
      <tr>
        <td>
          @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Author.Name)
        </td>
        <td>
          <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
          <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
          <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
        </td>
      </tr>
    }
  </table>